body{
width: 100%;
height: auto;
margin: auto;
background: black;
font-family: Helvetica;
font-size: 22px;
color: seashell;
opacity: 0.9;
}
#container{
display: flex;
flex-direction: column;
}
header{
/*border: 2px solid pink;*/
width: 100%;
height: 69px;
position: fixed;
z-index: 5;
background: black;
border-bottom: 1px solid seashell;
display: flex;
flex-direction: row;
justify-content: space-between;
}
#logo{
/*border: 2px solid blue;*/
margin-left: 10px;
padding-top: 15px;
z-index: 5;
}
#menu{
/*border: 2px solid red;*/
padding-top: 15px;
z-index: 5;
}
#menu > span{
padding-right: 20px;
text-decoration: underline;
}

/* CSS for the container (content)*/
main{
width: 100%;
height: 700px;
position: relative;
margin-top: 70px;
/*border: 2px solid red;*/
}
.OurMission{
width: 1200px;
height: 700px;
margin: auto;
background-image: url(../images/img-mission-background.jpg);
}
#text{
/*border: 2px solid green;*/
width: 1200px;
height: 120px;
margin: auto;
z-index: 1;
margin-top: -350px;
background-color: black;
}
.text{
height: 20px;
text-align: center;
padding: 1px 0;
}


/* CSS for locations section
#locations{
height: 500px;
background-image: url(../images/img-locations-background.jpg)
}*/
