body{
width: 100%;
height: auto;
margin: auto;
background: black;
font-family: Helvetica;
font-size: 22px;
color: seashell;
opacity: 0.9;
}
#container{
display: flex;
flex-direction: column;
}

/* CSS for the header */
header{
width: 100%;
height: 69px;
position: fixed;
z-index: 5;
background: black;
border-bottom: 1px solid seashell;
display: flex;
flex-direction: row;
justify-content: space-between;
}
#logo{
margin-left: 10px;
padding-top: 10px;
}
#logo img{
width: auto;
height: 50px;
}
#menu{
padding-top: 20px;
z-index: 5;
}
#menu > span a{
padding-right: 20px;
color: seashell;
text-decoration: underline;
}
#menu > span a:visited{
color: seashell;
}

/* CSS for the main section */
main{
width: 100%;
height: auto;
position: relative;
margin-top: 70px;
}

/* CSS for the Our Mission section*/
#OurMission{
width: 1200px;
height: 700px;
margin: auto;
background-image: url(../images/img-mission-background.jpg);
}
#text{
width: 1200px;
height: 120px;
margin: auto;
z-index: 1;
margin-top: -350px;
background-color: black;
}
.text{
height: 20px;
text-align: center;
padding: 1px 0;
}

/*CSS for Tea Month section*/
#TeaMonth{
width: 1000px;
height: auto;
margin: auto;
margin-top: 300px;
margin-bottom: 50px;
position: relative;
text-align: center;
display: flex;
flex-direction: column;
}
#TeaMonth > div:nth-child(1),
#TeaMonth > div:nth-child(2){
font-weight: bold;
margin-bottom: 20px;
}
#TeaMonth > div:nth-child(1){
font-size: 32px;
}
p > img{
width: 300px;
height: 200px;
margin-bottom: 10px;
}
p > span{
font-weight: bold;
}
.tea{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.tea p{
margin-right: 30px;
}

/* CSS for locations section*/
#locations{
width: 1200px;
height: 500px;
margin: auto;
background-image: url(../images/img-locations-background.jpg);
display: flex;
flex-direction: column;
}
#locations p{
margin: auto;
}
#locations p:nth-child(1){
font-size: 32px;
font-weight: bold;
}
.box{
margin: auto;
margin-top: -20px;
display: flex;
flex-direcrion: row;
}
.blackBox{
width: 300px;
height: 300px;
background-color: black;
margin-right: 40px;
opacity: 1;
}
.blackBox p,
.blackBox h3{
text-align: center;
padding: 12px 20px;
margin-bottom: 10px;
}

/* CSS for the footer */
footer{
height: 200px;
width: 100%;
margin: auto;
margin-right: 20px;
display: flex;
flex-direction: column;
}
.footer_text{
text-align: center;
height: 200px;
font-weight: bold;
}
.copyR{
margin: 20px;
font-weight: bold;
text-align: left;
}
